# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# PSoC Creator specific
*.cycdx
*.cyfit
*.rpt
**/CortexM3/
**/CortexM0/
**/DP8051/
**/Export/
**/Generated_Source/
**/codegentemp/
